mixin blog
    .blog
        .container
            .blog__wrapper
                .blog__header
                    .col-xl-6.col-lg-6.col-md-8.col-sm-12.col-12
                        h1.blog__header--title Blog
                        p.blog__header--subtitle Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                .blog-content
                    .row
                        .blog-content__wrapper
                            .col-xl-4.col-lg-5.col-md-6.col-sm-12
                                .blog-content__workspace
                                    a(href="javascript:void(0)").blog-content__link
                                        img(src="./img/blog-first.png" alt="first pic").blog-content__img
                                    .blog-content__text.item-text
                                        .item-text__top
                                            h1.item-text__top--text1 20
                                            h1.item-text__top--text2 NOV
                                        .item-text__bottom
                                            h3.item-text__bottom--text1 Green Smoothies: Too Much of a Good Thing?
                                            p.item-text__bottom--text2 By Auskteez - 2 hours ago
                            .col-xl-4.col-lg-5.col-md-6.col-sm-12
                                .blog-content__workspace
                                    a(href="javascript:void(0)").blog-content__link
                                        img(src="./img/blog-second.png" alt="second pic").blog-content__img
                                    .blog-content__text.item-text
                                        .item-text__top
                                            h1.item-text__top--text1 14
                                            h1.item-text__top--text2 NOV
                                        .item-text__bottom
                                            h3.item-text__bottom--text1 Growing Food and a “Thirst” for Innovation
                                            p.item-text__bottom--text2 By Auskteez - 3 hours ago
                            .col-xl-4.col-lg-5.col-md-6.col-sm-12
                                .blog-content__workspace
                                    a(href="javascript:void(0)").blog-content__link
                                        img(src="./img/blog-third.png" alt="third pic").blog-content__img
                                    .blog-content__text.item-text
                                        .item-text__top
                                            h1.item-text__top--text1 10
                                            h1.item-text__top--text2 NOV
                                        .item-text__bottom
                                            h3.item-text__bottom--text1 Pesticides & Food: What You Need to Know
                                            p.item-text__bottom--text2 By Auskteez - 6 hours ago
                    .row
                        .col-12
                            .blog-button
                                button.blog-button__btn VIEW MORE