mixin footer
    .footer
        .container.container--lg
            .footer__wrapper
                .row
                    .col-12
                        footer.footer__info
                            p.footer__info--text1 &#169; 2015 Company. All right reserved.
                            a(href="#")
                                img(src="../../../dist/img/logo-small.png" alt="cahee logo").footer__info--img
                            p.footer__info--text2 Made with 
                                a(href="javascript:void(0)").footer__info--link love</a> by Auskteez