mixin services
    a(name="services")
    .services
        .container.container--lg
            .services-content
                .row
                    .col-12.col-xl-5.col-lg-5.order-lg-1.order-2
                        .services-content__wrapper
                            .row
                                .col-md-6.col-lg-12
                                    .services-content__bar.d-flex
                                        p.services-content__text.flex-grow-1.align-self-center Online Shopping
                                        .services-content__icon.d-flex.align-items-center.justify-content-center.flex-shrink-0
                                                object.services-content__icon--size(type="image/svg+xml" data="./img/svg/icon1.svg") Your browser does not support SVG
                                .col-md-6.col-lg-12
                                    .services-content__bar.d-flex
                                        p.services-content__text.flex-grow-1.align-self-center Quality Product
                                        .services-content__icon.d-flex.align-items-center.justify-content-center.flex-shrink-0
                                                object.services-content__icon--size(type="image/svg+xml" data="./img/svg/icon2.svg") Your browser does not support SVG
                                .col-md-6.col-lg-12
                                    .services-content__bar.d-flex
                                        p.services-content__text.flex-grow-1.align-self-center Domestic & International Delivery
                                        .services-content__icon.d-flex.align-items-center.justify-content-center.flex-shrink-0
                                                object.services-content__icon--size(type="image/svg+xml" data="./img/svg/icon3.svg") Your browser does not support SVG
                                .col-md-6.col-lg-12
                                    .services-content__bar.d-flex
                                        p.services-content__text.flex-grow-1.align-self-center Well Organized
                                        .services-content__icon.d-flex.align-items-center.justify-content-center.flex-shrink-0
                                            object.services-content__icon--size(type="image/svg+xml" data="./img/svg/icon4.svg") Your browser does not support SVG
                    .col-12.col-lg-6.offset-xl-1.offset-lg-1.order-1.order-lg-2.d-flex.align-items-center.justify-content-center.justify-content-lg-end
                        .services__text.mt-md-0.mb-md-5.pb-md-5.my-5 Our Services
                        img.services__img(src="../../../dist/img/services@x1.png" srcset="../../../dist/img/services@x2.png 2x, ../../../dist/img/services@x3.png 3x" alt="Нарезанный помидор")