mixin subscribe
    .subscribe
        .container
            .subscribe__wrapper
                .col-xl-8.col-lg-8.col-md-12
                    .subscribe__header
                        h1.subscribe__header--title Subscribe To Us
                        p.subscribe__header--subtitle Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                        form(action).sibscribe__form
                            .row
                                form(action method="get")
                                    input(type="email" name="email" placeholder="Your email address..." required).sibscribe__form--input
                                    button(type="submit").sibscribe__form--submit SUBSCRIBE