mixin gallery
    .gallery
        .container
            .gallery__wrapper
                .gallery__header
                    .col-12.col-xl-6.col-lg-6
                        h1.gallery__header--title Gallery
                        p.gallery__header--subtitle Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .gallery__content
                    .gallery__top
                        .row
                            .col-xl-8.col-lg-8.d-md-flex.flex-md-column.justify-content-md-center
                                img(src="./img/gallery-img1.png" alt="image first").gallery__top--img1
                            .col-xl-4.col-lg-4.d-md-flex.flex-md-column.justify-content-md-center
                                img(src="./img/gallery-img2.png" alt="image first").gallery__top--img2
                                img(src="./img/gallery-img3.png" alt="image first").gallery__top--img3
                    .gallery__bottom
                        .row
                            .col-xl-6.col-lg-6.d-md-flex.flex-md-column.justify-content-md-center
                                img(src="./img/gallery-img4.png" alt="image first").gallery__bottom--img1
                            .col-xl-6.col-lg-6.d-md-flex.flex-md-column.justify-content-md-center
                                img(src="./img/gallery-img5.png" alt="image first").gallery__bottom--img2
                    .gallery__button
                        button.gallery__button--btn VIEW MORE