mixin text-company
    .text-company&attributes(attributes)
        .row
            .text-company__bar
                h3.text-company__bar--text1 ADDRESS
                a(href="https://www.google.com.ua/maps/search/123+City+name,+Street,+City,+Country/@50.4851493,30.4721233,14z?hl=ru" target="_blank").text-company__bar--text2 123 City name, Street, City, Country
        .row
            .text-company__bar
                h3.text-company__bar--text1 EMAIL
                a(href="mailto:cahee@domain.com" target="_blank").text-company__bar--text2 cahee@domain.com
        .row
            .text-company__bar
                h3.text-company__bar--text1 PHONE
                a(href="tel:+012 345 6789" target="_blank").text-company__bar--text2 +012 345 6789