.text-company {
    width: 150px;

    &__bar {
        margin-bottom: 32px;

        &--text1 {
            font-weight: 700;
        }
        &--text2 {
            text-decoration: none;
            color: black;
        }
    }
}