.footer {
    background-color: #262626;
    font-family: 'Raleway', sans-serif;

    &__wrapper {
        padding-top: 33px;
        padding-bottom: 33px;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        width: 100%;
        color: #b9b9b9;
        font-weight: 300;

        &--text1 {
            font-size: 15px;
            line-height: 6px;
            letter-spacing: 0.04em;
        }
        &--text2 {
            font-size: 15px;
            line-height: 6px;
        }
        &--link {
            color: red;
            text-decoration: none;
            font-weight: 700;
        }
    }
}
@media screen and (max-width: 767px) {
    .footer__info {
        display: flex;
        flex-direction: column;
    }
    .footer__info--text1 {
        margin-bottom: 15px;
    }
    .footer__info--img {
        margin-bottom: 15px;
    }
}