mixin about-us
    a(name="about")
    .about-us
        .container.container--lg
            .about-us__wrapper
                .row
                    .col-xl-6.col-lg-6.col-md-12.col-sm-12.d-flex.align-content-center.justify-content-center.align-items-center
                        img(src="../../../dist/img/about@x1.png" alt="picture of raspberry" srcset="../../dist/img/about@x2.png 2x, ../../dist/img/about@x3.png 3x").about-us__image
                    .col-xl-6.col-lg-6.col-md-12.col-sm-12
                        .about-us__headline.about-headline
                            h1.about-headline__title About Us
                            p.about-headline__text Abore Cahee magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
                            p.about-headline__text.about-headline__text--two Nim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.